.action-btn{
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
    @extend %contain;
  }
  &:before{
    opacity: 1;
  }
  &:after{
    opacity: 0;
  }
  &.active{
    &:before{
      opacity: 0;
    }
    &:after{
      opacity: 1;
    }
  }
  &_share{
    &:before{
      background-image: url(/img/action-share.png);
    }
    &:after{
      background-image: url(/img/action-design-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/action-share@2x.png);
      }
      &:after{
        background-image: url(/img/action-design-active@2x.png);
      }
    }
  }
  &_design{
    &:before{
      background-image: url(/img/action-design.png);
    }
    &:after{
      background-image: url(/img/action-design-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/action-design@2x.png);
      }
      &:after{
        background-image: url(/img/action-design-active@2x.png);
      }
    }
  }
  &_options{
    &:before{
      background-image: url(/img/action-opt.png);
    }
    &:after{
      background-image: url(/img/action-design-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/action-opt@2x.png);
      }
      &:after{
        background-image: url(/img/action-design-active@2x.png);
      }
    }
  }
  &_notify{
    &:before{
      background-image: url(/img/action-notify.png);
    }
    &:after{
      background-image: url(/img/action-design-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/action-notify@2x.png);
      }
      &:after{
        background-image: url(/img/action-design-active@2x.png);
      }
    }
  }
}
