//variables
  $pink: #ff6197;
  $yellow: #fed100;
  $green: #39cf7c;
  $red: #ff6666;
  $grey-header: #cdd6e0;
  $grey: #7d97ae;
  $grey-text: #7590a7;
  $blue: #00c5fe;
  $dark-blue: #1f8beb;
  $main-bg: #fafbfc;
  $blue-border: #ecf3fb;
  $blue-separator: #dfecfa;
  $blue-cell: #f1f8fe;
  $purple: #7e57c2;

//styles
  body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $grey-text;
    background-color: $main-bg;
    position: relative;
  }

  header,
  main{
    padding: 15px;
    @include rmin(1366){
      padding: 20px;
    }
  }

  main{
    padding-top: 137px;
    @include rmin(1366){
      padding-top: 152px;
    }
  }

  img{
    max-width: 100%;
  }

  a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .fixed-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
