.create{
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  padding: 15px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  &:hover{
    &:after{
      transform: translateX(0);
    }
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, $pink 0%, $red 30%, $pink 80%);
    transition: transform .3s ease;
  }
  span{
    z-index: 2;
    position: relative;
  }
}
