.date{
  padding: 15px;
  background-color: $main-bg;
  @include rmin(1366){
    padding: 20px;
  }
  &__range-selection{
    background-color: #fff;
    border: 1px solid $blue-border;
    border-radius: 5px;
  }
  &__range-btn{
    background-color: transparent;
    border-right: 1px solid $blue-separator;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      @extend %vcenter;
      width: 22px;
      height: 22px;
      background-image: url(/img/calendar.png);
      @extend %contain;
      @include retina{
        background-image: url(/img/calendar@2x.png);
      }
    }
  }
  &__range-value{
    text-align: center;
    padding: 15px;
  }
  &__slider-wrap{
    display: flex;
    align-items: center;
  }
  &__slider-date{
    font-size: 11px;
  }
  &__slider{
    margin-left: 30px;
    margin-right: 10px;
    flex-grow: 1;
    background-color: $blue-separator;
    height: 4px;
    .ui-slider-handle{
      background-color: $dark-blue;
      border-radius: 5px;
      height: 13px;
      width: 20px;
    }
    .ui-slider-range{
      background-color: rgba($dark-blue, .5);
    }
  }
}
