.grid-state-btn{
  width: 40px;
  height: 35px;
  background-color: transparent;
  position: relative;
  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
    @extend %contain;
  }
  &:before{
    opacity: 1;
  }
  &:after{
    opacity: 0;
  }
  &.active{
    &:before{
      opacity: 0;
    }
    &:after{
      opacity: 1;
    }
  }
  &_table{
    &:before{
      background-image: url(/img/state-table.png);
    }
    &:after{
      background-image: url(/img/state-comb-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/state-table@2x.png);
      }
      &:after{
        background-image: url(/img/state-comb-active@2x.png);
      }
    }
  }
  &_comb{
    &:before{
      background-image: url(/img/state-table.png);
    }
    &:after{
      background-image: url(/img/state-comb-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/state-table@2x.png);
      }
      &:after{
        background-image: url(/img/state-comb-active@2x.png);
      }
    }
  }
  &_blocks{
    &:before{
      background-image: url(/img/state-blocks.png);
    }
    &:after{
      background-image: url(/img/state-comb-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/state-blocks@2x.png);
      }
      &:after{
        background-image: url(/img/state-comb-active@2x.png);
      }
    }
  }
  &_custom{
    &:before{
      background-image: url(/img/state-custom.png);
    }
    &:after{
      background-image: url(/img/state-comb-active.png);
    }
    @include retina{
      &:before{
        background-image: url(/img/state-custom@2x.png);
      }
      &:after{
        background-image: url(/img/state-comb-active@2x.png);
      }
    }
  }
  & + &{
    margin-left: 15px;
  }
}
