.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey-header;
  background-color: #fff;
  &__item{
    &_left{
      display: flex;
      align-items: center;
      > *{
        margin-left: 20px;
        margin-right: 5px;
        @include rmin(1366){
          margin-left: 40px;
        }
      }
    }
  }
  &__grid-states{
    display: flex;
  }
}
