.hint{
  position: fixed;
  top: 25%;
  right: 0;
  transform: translateX(100%);
  z-index: 100;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform .3s ease-in, box-shadow .3s ease;
  will-change: box-shadow;
  @include rmin(1366){
    font-size: 20px;
    padding: 20px 30px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 50px;
    height: 45px;
    background-color: #fff;
    border-right: 1px solid $blue-separator;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -10px 0px 50px -15px rgba(0,0,0,0.5);
    background-image: url(/img/hint.png);
    background-size: 50%;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    @include retina{
      background-image: url(/img/hint@2x.png);
    }
    @include rmin(1366){
      width: 60px;
      height: 55px;
    }
  }
  &:hover{
    transform: translateX(0);
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
  }
  &__title{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__item{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    &_pink{
      span{
        background-color: $pink;
      }
    }
    &_red{
      span{
        background-color: $red;
      }
    }
    &_blue{
      span{
        background-color: $blue;
      }
    }
    &_green{
      span{
        background-color: $green;
      }
    }
    &_yellow{
      span{
        background-color: $yellow;
      }
    }
    &_grey{
      span{
        background-color: $grey;
      }
    }
    span{
      width: 25px;
      height: 20px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
  &__text{
    font-weight: 300;
  }
}
