.page-grid{
  display: flex;
  &_header{
    align-items: center;
  }
  &_date{
    align-items: flex-start;
  }
  &__left-col{
    width: 255px;
    margin-right: 15px;
    display: flex;
  }
  &__left-content{
    flex-grow: 1;
  }
  &__right-content{
    flex-grow: 1;
  }
  &__side-item{
    width: 55px;
  }
}
