.period{
  display: flex;
  background-color: #fff;
  border: 1px solid $blue-border;
  border-radius: 5px;
  margin-top: 5px;
  &_grid{
    background-color: transparent;
    border: none;
    margin: 0;
    .period__item{
      padding: 0;
      height: 0;
      border: none;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        height: 10000px;
        border-right: 1px dashed $blue-border;
        z-index: 1;
      }
      &:first-child{
        &:after{
          transform: translateX(100%);
        }
      }
    }
  }
  &__item{
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    padding: 7px 3px;
    @include rmin(1366){
      padding: 7px;
      font-size: 13px;
    }
    &_half{
      width: 25%;
    }
    &_quarter{
      width: 12.5%;
    }
    &_month{
      width: 4.167%;
    }
    & + &{
      border-left: 1px solid $blue-separator;
    }
  }
}
