.schedule-status{
  color: $grey-header;
  font-size: 16px;
  position: relative;
  padding-left: 20px;
  &:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    @extend %contain;
    background-image: url(/img/check.svg);
  }
}
