.timetable{
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $blue-border;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(16px);
    width: 100%;
    height: 15px;
    background-color: $main-bg;
    z-index: 2;
  }
  & + &{
    margin-top: 15px;
  }
  &__title-wrap{
    width: 55px;
    padding: 6px;
  }
  &__title{
    background-color: $blue-cell;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    span{
      display: inline-block;
      transform: translate(-50%, -50%) rotate(-90deg);
      height: 43px;
      line-height: 43px;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__content{
    padding: 6px 0;
    flex-grow: 1;
  }
  &__status{
    display: flex;
    color: #fff;
    &_pink{
      .timetable{
        &__status-title,
        &__task{
          background-color: $pink;
        }
      }
    }
    &_yellow{
      .timetable{
        &__status-title,
        &__task{
          background-color: $yellow;
        }
      }
    }
    &_green{
      .timetable{
        &__status-title,
        &__task{
          background-color: $green;
        }
      }
    }
    &_red{
      .timetable{
        &__status-title,
        &__task{
          background-color: $red;
        }
      }
    }
    &_grey{
      .timetable{
        &__status-title,
        &__task{
          background-color: $grey;
        }
      }
    }
    &_blue{
      .timetable{
        &__status-title,
        &__task{
          background-color: $blue;
        }
      }
    }
    &_purple{
      .timetable{
        &__status-title,
        &__task{
          background-color: $purple;
        }
      }
    }
    & + &{
      margin-top: 5px;
    }
  }
  &__status-title{
    width: 200px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__task{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    padding: 13px;
    z-index: 2;
    span{
      width: 100%;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__timeline{
    flex-grow: 1;
  }
  &__row{
    height: 43px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 5px;
      background-color: $blue-border;
    }
    &_empty{
      &:before{
        content: none;
      }
    }
    & + &{
      margin-top: 5px;
    }
  }
}
