+b('section').date
  .page-grid.page-grid_date
    +e.range-selection.page-grid__left-col
      +e('button').range-btn.page-grid__side-item
      +e('p').range-value.page-grid__left-content 01.01.16 - 01.01.18
    .page-grid__right-content
      +e.slider-wrap
        +e('p').slider-date.js-date-min Jan 1, 2016
        +e.slider#date-slider
        +e('p').slider-date.js-date-max Nov 1, 2017
      +b.period
        +e.item._quarter q1'16
        +e.item._quarter q2'16
        +e.item._month j'16
        +e.item._month a'16
        +e.item._month s'16
        +e.item._month o'16
        +e.item._month n'16
        +e.item._month d'16
        +e.item._half h1'17
        +e.item._quarter q3'17
        +e.item._quarter q4'17
        
