+b('header').header
  +e.item
    .page-grid.page-grid_header
      .page-grid__left-col
        +b('a')(href='#').logo logo example
      +e.grid-states
        +b('button').grid-state-btn._table
        +b('button').grid-state-btn._comb.active
        +b('button').grid-state-btn._blocks
        +b('button').grid-state-btn._custom
  +e.item._left
    +b('p').schedule-status Saved
    +b('button').create
      span create
    +b('button').action-btn._share
    +b('button').action-btn._design
    +b('button').action-btn._options
    +b('button').action-btn._notify
      
    
      
