+b.hint
  +e('h2').title status:
  +e.item._pink
    span(aria-label='Pink')
    +e('p').text Research
  +e.item._yellow
    span(aria-label='Yellow')
    +e('p').text In progress
  +e.item._green
    span(aria-label='Green')
    +e('p').text Backlog
  +e.item._red
    span(aria-label='Red')
    +e('p').text Reopened
  +e.item._blue
    span(aria-label='Blue')
    +e('p').text New
  +e.item._grey
    span(aria-label='Grey')
    +e('p').text None
