+b('section').schedule
  .page-grid
    .page-grid__left-col
    .page-grid__right-content
      +b.period._grid
        +e.item._quarter
        +e.item._quarter
        +e.item._month
        +e.item._month
        +e.item._month
        +e.item._month
        +e.item._month
        +e.item._month
        +e.item._half
        +e.item._quarter
        +e.item._quarter
        
  +b('section').timetable
    +e.title-wrap
      +e('h2').title
        span DESIGN UX
    +e.content
      +e.status._pink
        +e('p').status-title Research
        +e.timeline
          +e.row
            +e('p')(style='left: 25%; width: 4.167%;' title='Destination').task 
              span Destination
            +e('p')(style='left: 37.501%; width: 12.501%;' title='Template').task
              span Template
      +e.status._yellow
        +e('p').status-title In Progress
        +e.timeline
          +e.row
            +e('p')(style='left: 0%; width: 25%;' title='UX').task 
              span UX
            +e('p')(style='left: 53%; width: 4.167%;'  title='Floating').task
              span Floating
            +e('p')(style='left: 75%; width: 12.5%;' title='UX').task
              span UX
      +e.status._green
        +e('p').status-title Backlog
        +e.timeline
          +e.row
            +e('p')(style='left: 41.668%; width: 4.167%;' title='Flat...').task
             span Flat...
          +e.row
            +e('p')(style='left: 8.125%; width: 16.875%;'  title='Prototyping').task
             span Prototyping
            +e('p')(style='left: 62.5%; width: 12.5%;' title='Private Policy').task 
              span Private Policy
              
  +b('section').timetable
    +e.title-wrap
      +e('h2').title
        span slicing
    +e.content
      +e.status._pink
        +e('p').status-title Research
        +e.timeline
          +e.row._empty
      +e.status._yellow
        +e('p').status-title In Progress
        +e.timeline
          +e.row
            +e('p')(style='left: 33.334%; width: 25%;' title='UX').task 
              span UX
          +e.row
            +e('p')(style='left: 25%; width: 4.167%;' title='Floating').task
              span Floating
      +e.status._red
        +e('p').status-title Reopened
        +e.timeline
          +e.row
            +e('p')(style='left: 41.668%; width: 4.167%;' title='Flat...').task
             span Flat...
          +e.row
            +e('p')(style='left: 8.125%; width: 16.875%;' title='Prototyping').task
             span Prototyping
            +e('p')(style='left: 62.5%; width: 12.5%;' title='Private Policy').task 
              span Private Policy
      +e.status._grey
        +e('p').status-title Status: none
        +e.timeline
          +e.row
            +e('p')(style='left: 25%; width: 10.418%;' title='Terra').task
             span Terra
          +e.row
            +e('p')(style='left: 87.5%; width: 8.334%;' title='Incognito').task
             span Incognito
             
  +b('section').timetable
    +e.title-wrap
      +e('h2').title
        span architecture
    +e.content
      +e.status._pink
        +e('p').status-title Research
        +e.timeline
          +e.row
            +e('p')(style='left: 25%; width: 4.167%;' title='Destination').task 
              span Destination
      +e.status._yellow
        +e('p').status-title In Progress
        +e.timeline
          +e.row
            +e('p')(style='left: 28%; width: 4.167%;' title='Floating').task
              span Floating
      +e.status._green
        +e('p').status-title Backlog
        +e.timeline
          +e.row
            +e('p')(style='left: 41.668%; width: 4.167%;' title='Flat...').task
             span Flat...
          +e.row
            +e('p')(style='left: 8.125%; width: 16.875%;' title='Prototyping').task
             span Prototyping
            +e('p')(style='left: 62.5%; width: 12.5%;' title='Private Policy').task 
              span Private Policy
      +e.status._blue
        +e('p').status-title New
        +e.timeline
          +e.row
            +e('p')(style='left: 87.5%; width: 8.334%;' title='Incognito').task
             span Incognito
      +e.status._purple
        +e('p').status-title Completed
        +e.timeline
          +e.row
            +e('p')(style='left: 0; width: 8.334%;' title='Meeting').task
             span Meeting
            +e('p')(style='left: 50%; width: 4.167%;' title='Meeting').task
             span Meeting
        
