//media queries
  @mixin rmin($width){
    @media only screen and (min-width: $width + 'px'){
      @content;
    }
  }

  @mixin rmax($width){
    @media only screen and (max-width: $width + 'px'){
      @content;
    }
  }

  @mixin retina{
    @media
      only screen and (min-device-pixel-ratio: 2),
      only screen and (   min-resolution: 192dpi),
      only screen and (    min-resolution: 2dppx){
        @content;
    }
  }

//placeholders
  %vcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  %cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  %contain{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
