meta(charset="utf-8")
title Test for GBKSOFT
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=320, initial-scale=1")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/main.css")
