include ../bemto/bemto

doctype html
html
  head
    include _head

  body(class=bodyClass)
    block header
      .fixed-content
        include partials/_header
        include partials/_date
    include partials/_hint
        
    main
      block content
        include partials/_schedule
        
    block scripts
      script(src="js/main.js")
