@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Work Sans'),
       url('../fonts/WorkSans-Light.woff2') format('woff2'),
       url('../fonts/WorkSans-Light.woff') format('woff'),
       url('../fonts/WorkSans-Light.ttf') format('trutype')
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Work Sans'),
       url('../fonts/WorkSans-Regular.woff2') format('woff2'),
       url('../fonts/WorkSans-Regular.woff') format('woff'),
       url('../fonts/WorkSans-Regular.ttf') format('trutype')
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Work Sans'),
       url('../fonts/WorkSans-Medium.woff2') format('woff2'),
       url('../fonts/WorkSans-Medium.woff') format('woff'),
       url('../fonts/WorkSans-Medium.ttf') format('trutype')
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Work Sans'),
       url('../fonts/WorkSans-SemiBold.woff2') format('woff2'),
       url('../fonts/WorkSans-SemiBold.woff') format('woff'),
       url('../fonts/WorkSans-SemiBold.ttf') format('trutype')
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Work Sans'),
       url('../fonts/WorkSans-Bold.woff2') format('woff2'),
       url('../fonts/WorkSans-Bold.woff') format('woff'),
       url('../fonts/WorkSans-Bold.ttf') format('trutype')
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Work Sans'),
       url('../fonts/WorkSans-ExtraBold.woff2') format('woff2'),
       url('../fonts/WorkSans-ExtraBold.woff') format('woff'),
       url('../fonts/WorkSans-ExtraBold.ttf') format('trutype')
}
